{% extends 'base.html' %}
{% block content %}
{%load static%}
<div style="text-align: center; margin-left: 10%; margin-right: 10%">
  {% if not newestProgram.donationProgramExist %}
    <h1>Tidak ada donasi yang tersedia</h1><br>
  {% else %}
    <h2>{{ newestProgram.name }}</h2>
    <img src="{{ newestProgram.pictureLink }}" width="80%">
    <br><br>
    {% for text in newestProgram.bodyNews %}
      <p style="text-align: justify;">{{ text }}<p>
    {% endfor %}
  {% endif %}
  <p class="ourtext">Total Donasi yang terkumpul untuk {{ newestProgram.name }}</p>
  <h2 class="ourtext2">{{ newestProgram.totalDonation }}</h2>
</div>
<div class="ourtext" style="width:100%; height: 10%; background-color: #FF9F1C; text-align: center; color: white">{{ message }}<br></div>
<div style="display:inline-flex; width: 100%; border: 3% #FF9F1C solid; border-bottom: 3% #FF9F1C solid;">
  <div style="width:48%; min-height: 85vh; background-color: #CBF3F0; text-align: center">
    <h2 class="ourtext">Form Pengisian Donasi</h2>
    <div style="margin-left: 1%; margin-right: 1%">
      <br>
      <br>
      <form method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label class="ourtext">Program Donasi</label><br>
            <select name="donationProgram" class="form-control">
              {% for donationProgram in donationPrograms %}
                  <option value="{{ donationProgram.id }}" >{{ donationProgram.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label class="ourtext">Nama</label><br>
            <input type="text" name="name" placeholder="Masukan nama lengkap" class="form-control" readonly="" value="{{ request.user.first_name }} {{ request.user.last_name }}" style="text-align: center;">
          </div>
          <div class="form-group">
            <label class="ourtext">Email</label><br>
            <input type="email" name="email" placeholder="Masukkan email" class="form-control" readonly="" value="{{ request.user.email }}" style="text-align: center;">
          </div>
          <div class="form-group">
            <label class="ourtext">Uang yang didonasikan</label><br>
            <input type="number" min="1" max="1000000000" name="donationValue" placeholder="Masukkan nominal uang" class="form-control" style="text-align: center;">
          </div>
            <div class="form-check">
              <label class="form-check-label ourtext">
                sembunyikan identitas saya(donatur anonim)
                <input name="isAnonymous" type="checkbox" value="anonymous" unchecked="">
              </label>
            </div>
          <button type="submit" class="btn btn-primary">Donate Now</button>
      </form>
    </div>
  </div>
  <div style="margin-left: 10%; margin-right: 1%; width:39%">
    <h2 class="ourtext2" style="text-align: center;">Donasi Terkini</h2><br><br>
    <div>
      {% for donationRecord in donationRecords %}
        <div style="display: inline-flex; margin-left:8%; width: 100%">
          <div style="margin-right:5%; width: 30%"><img src="/static/meong.png" width="100%"></div>
          <div style="width:100%; margin-top: 3%">
            <p>{{ donationRecord.name }}</p>
            <p>{{ donationRecord.value }}</p>
            <p>{{ donationRecord.program }}</p>
          </div>
        </div>
        <br><br>
      {% endfor %}
    </div>
  </div>
</div>
<div class="ourtext" style="width:100%; height: 10%; background-color: #FF9F1C; text-align: center; color: white">Link Program Donasi terdapat di <a href="/show_program/" target="_blank">link ini</a><br></div>
{% endblock %}