{% extends 'base.html' %}
{% block content %}
{%load static%}
<style>
.loader {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #2EC4B6;
  border-bottom: 16px solid #FF9F1C;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
<script>
    $(document).ready(function(){
        function sleep (time) {
            return new Promise((resolve) => setTimeout(resolve, time));
        }
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, '\\$&');
            var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, ' '));
        }
        sleep(2000).then(() => {
            window.location.replace(getParameterByName('next'));
        })
    })
</script>
<h2>Halo {{ request.user.first_name }} {{ request.user.last_name }}</h2>
<br>
<h4>sebentar lagi anda akan redirect ke laman yang sebelumnya anda kunjungi.</h4>
<br><br><br><div class="loader"></div>
<br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}