{% extends "base.html" %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{% static 'show_news/stylenews.css'%}" rel="stylesheet" type="text/css">
</head>
<style>
* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 30px;
    height: 100%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    margin:6%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}

.card-body {
    padding:8px;
}

div.ourtext h4{
    font-family: 'Raleway';
    font-weight: 700;
    font-color: #FF9F1C;
}
@media screen and (min-width: 601px) {
  div.ourtext h4 {
    font-size: 28px;
  }
}
@media screen and (max-width: 600px) {
  div.ourtext h4{
    font-size: 10px;
  }
}

/* Set image position */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 460; 
    height: 345;
}

</style>
{% block content %}
<h1 class="ourtext h1" style="text-align:center">Latest News</h1>
<br><br>
<div class="container">
    <div class="row">
    	{% for data in news_datas %}
        <div class="col-md-4 col-sm-6">
            <div class="card" style="width: 30rem;">
                <img class="card-img-top img-responsive" src="{{ data.pictureLink }}">
                <div class="card-body">
                    <h4 class="ourtext h4">{{ data.title }}</h4>
                    <p class="card-text">{{ data.date }}</p>
                    <p class="card-text">{{ data.spoiler }}</p>
                    <a href="{{ data.id }}">Read More</a>
                </div>
            </div>
        </div>
      {% endfor %}
    </div>
    <!--/row-->
</div>
<!--container-->

{% endblock %}
