{% extends "base.html" %}
{% load static %}

<body>
{% block content %}

<div class="container-fluid">
<div class="row">
  <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
    <img class="img1" src="{{ attr.pictureLink }}" style="width:100%; margin-top:10%">
    <br></br>
  </div>
  <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
    <h1 class="ourtext h1" style="text-align:center; margin-left:3%">{{ attr.title }}</h1>
    <h2 class="ourtext h2" style="text-align:center; margin-left:3%">{{ attr.date }}</h2>
    <p style="text-align:justify; font-family:'Railway'; margin-left:3%; margin-right:3%">{{ attr.bodyNews }}</p>
  </div>
</div>
</div>
{% endblock %}