{% extends "base.html" %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{% static 'show_news/stylenews.css'%}" rel="stylesheet" type="text/css">
</head>
<style>
/* Create two equal columns that floats next to each other */
.row{
    background-color: #CBF3F0;
}

.cont{
	width: 316px;
	height: 360px;
	left: calc(50% - 316px/2 - 393px);
	top: 1172px;

}
.container{
   	margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    width: 100px;
    height: 100px;
    left: calc(50% - 316px/2 - 393px);
    top: 100px;
    background-color: #CBF3F0;}

.container p{
        font-family: Raleway;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 12px;
        text-align: center;
        color: #000000;}

}
.container img{
	width: 100px;
    height: 50px;
  	left: calc(50% - 316px/2 - 393px);
    top: 1172px;}

/* Clear floats after the columns */
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    margin:6%;
}

.card-body {
    padding:8px;
}

div.ourtext h1{
	font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    color:#2EC4B6;
    font-size: 24px;
    text-align: center;
}

@media screen and (min-width: 601px) {
  div.ourtext h1 {
    font-size: 28px;
  }
}
@media screen and (max-width: 600px) {
  div.ourtext h1{
    font-size: 10px;
  }
}

</style>
{% block content %}
<div class = "container">
	<div class = "row">
		<div class = "cont">
			{% for program in datas %}
			<div class = "col-md-4 col-sm-6">
				<div class="card" style="width: 30rem;">
					<img class="card-img-top img-responsive" src = "{{ program.program_pictureLink }}">
					<div class="card-body">
						<h1 class = "ourtext h1">{{ program.program_name }}</h1>
						<p>{{ program.program_bodyNews }}.</p>
                        <form action="{{ next_url }}">
						  <button class="btn btn-primary link-to-donate-{{ user_status }}" {{ additional_info }}> DONATE </button>
                        </form>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3 class="modal-title" id="exampleModalLabel">Silakan login terlebih dahulu menggunakan akun <a href="{% url 'social:begin' 'google-oauth2' %}?next=/donate/"><img src="https://rebootaccel.com/wp-content/uploads/2015/08/google-favicon-vector-400x400.png" width="40">oogle</a></h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}
</html>