{% extends 'base.html' %}
{% block content %}

<h2>   Silakan registrasikan <a href="https://accounts.google.com/SignUp" target="_blank">Google Account</a> Anda</h2>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}