{% extends 'base.html' %}
{% block content %}
{%load static%}
{% if request.user.id %}
  <div class="container" id="account_donation_box">
    <h1 class = "ourtext h1" style="text-align: center"> {{request.user.first_name}} {{ request.user.last_name }} </h1>
    <h1 class = "ourtext h1" style="text-align: center"><img src="/static/meong.png" width="25%"></h1>
    <hr class="my-4">
    <h3 class = "ourtext h3" style="text-align: center" id="totalDonation">Total Donasi : (Sedang memuat...)</h3>
    <hr class="my-4">
    <h3 class = "ourtext h3" style="text-align: center" id="totalDonation">Riwayat Donasi</h3>
    <div class="container" id="account_donation_list"></div>
    <br>
  </div>
{% endif %}
{% endblock %}