{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>SinarPerak</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Raleway:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">

    <link rel="shortcut icon" type="image/png" href="/static/SINARPERAK.png">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/static/account/account.js"></script>
    <script src="/static/about/about.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<style>
/* Style the navbar */
.navbar-custom{
  background-color: #2EC4B6;
  border-color:#2EC4B6;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #ffffff;
}
/* Set text type for h1 */
div.ourtext h1{
    font-family: 'Raleway';
    font-weight: 700;
    font-color: #FF9F1C;
}
@media screen and (min-width: 601px) {
  div.ourtext h1 {
    font-size: 64px;
  }
}
@media screen and (max-width: 600px) {
  div.ourtext h1{
    font-size: 32x;
  }
}

/* Set text type for h1 */
div.ourtext h2{
    font-family: 'Raleway';
    font-weight: 700;
    font-color: #FF9F1C;
}
@media screen and (min-width: 601px) {
  div.ourtext h2 {
    font-size: 28px;
  }
}
@media screen and (max-width: 600px) {
  div.ourtext h2{
    font-size: 10px;
  }
}

.ourtext {
  color: #FF9F1C;
  font-family: 'Raleway';
  font-weight: 700;
}

.ourtext2 {
  color: #2EC4B6;
  font-family: 'Raleway';
  font-weight: 700;
}

/* Set text type for p */
p{
  font-family: 'Raleway';
  font-weight: 400;
  font-color: #FF9F1C;
}
/* Style the button */
.btn{
      background: #FF9F1C;
      border-color: #FF9F1C;
      border-radius: 15px;
      font-family: Quicksand;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      color: #FFFFFF;
    }

/* Style the footer */
.footer{
    background-color: #2EC4B6;
    padding: 15px;
    text-align: center;
    color: white;
    font-family: 'Quicksand';
}

</style>
<body>
<div style="min-height: 100vh">

<nav class="navbar navbar-inverse navbar-custom" style="margin-bottom: 0px">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="border-color:#2EC4B6">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/"><img style="width:100px" src="https://s3-alpha.figma.com/img/a36f/c3a3/546abbf2fb32488f607256638e9e9f06"alt="Logo Sinar Perak"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/" style="color:white">HOME</a></li>
        <li><a href="/about/" style="color:white">ABOUT</a></li>
        {% if request.user.id %}
            <li><a href="/donate/" style="color:white">DONATE</a></li>
        {% else %}
            <li><a href="/show_program/" style="color:white">DONATION PROGRAM</a></li>
        {% endif %}
        <li><a href="/show_news/" style="color:white">NEWS</a></li>
        <li><a href="/register/" style="color:white">REGISTER</a></li>
        {% if request.user.id %}
            <li><a href="/account/" style="color:white">{{ request.user.email }}</a></li>
        {% endif %}
        {% if request.user.id %}
            <li><a href="/authorization/logout_user/?next={{ request.path }}" style="color:white">LOGOUT</a></li>
        {% else %}
            <li><a href="{% url 'social:begin' 'google-oauth2' %}?next=/authorization/complete/?next=/donate/" style="color:white">LOGIN</a></li>
        {% endif %}
      </ul>
      
    </div>
  </div>
</nav>
{% block content %}
{% endblock %}
  <div class="footer">
  <p>Copyright ©2018 All rights reserved | SinarPerak</p>
</div>
</div>
</body>
</html>
