{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600" rel="stylesheet">

<style>
	.responsive {
      width: 100%;
      height: auto;
    }
	.centered{
      font-family: Quicksand;
      font-weight: bold;
      text-align: center;
      color: #FFBF69;
    }
	@media screen and (min-width: 320px) {
      .centered {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
      }
    }
    @media screen and (min-width: 600px) {
      .centered {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
      }
    }
    @media screen and (min-width: 700px) {
      .centered {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 35px;
      }
    }
    @media screen and (min-width: 1366px) {
      .centered {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 65px;
      }
    }

	.container{
		width: 1366px;
		height: 417px;
		left: 0px;
		top: 1135px;
		background-color: #CBF3F0;
		}

	.container_p{
		margin-left: auto;
		margin-right: auto;
		margin-bottom: auto;
		margon-top: auto;
		width: 10px;
		height: 10px;
		left: calc(50% - 316px/2 - 393px);
		top: 100px;
		background: #FFFFFF;}
		
	.container_p img{
		width: 20px;
		height: 10px;
		left: calc(50% - 316px/2 - 393px);
		top: 1172px;}
	
	.container_r{
		left: 132px;
		top: 1172px;
		}
	.container_p p{
		font-family: Raleway;
		font-style: normal;
		font-weight: normal;
		line-height: normal;
		font-size: 12px;
		text-align: center;
		color: #000000;}
	h1{
		font-family: Raleway;
		font-style: normal;
		font-weight: bold;
		line-height: normal;
		color:#2EC4B6;
		font-size: 24px;
		text-align: center;
		}
	
	.donate{
		margin: auto;
		width: 123px;
		height: 46px;
		left: calc(50% - 123px/2 - 392.5px);
		top: 1457px;
		border-radius: 15px;
		color:#FFFFFF;
		text-align:center;
		background: #FF9F1C;}
		
	
</style>
</head>
<body>
<div class = "container">
	{% for program in donationPrograms %}
		<div class = "container_r">
			<div class = "row">
				<div class="col-sm">
					<div class = "container_p">
						<img src = "{{ program.pictureLink }}"  class="responsive">
						<br>
						<h1 class="ourtext h1" style="text-align:left, font-size: 10vw;">{{ program.name }}</h1>
						<p class="ourtext p" style="text-align:justify">{{ program.bodyNews}}</p>
						<button class="btn btn-primary"> 
							<a href="{{ program.id }}" title = "go to donate page">DONATE</a>
						</button>
					</div>
				</div>
			</div>
		</div>	
	{% endfor %}	
</div>
<body>
</html>