{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600" rel="stylesheet">

    <style>
    .img-wrapper {
    	position: relative;
    }

    .img-responsive {
    	width: 100%;
    	height: auto;
    }

    .img-overlay {
    	position: absolute;
    	top: 0;
    	bottom: 0;
    	left: 0;
    	right: 0;
    	text-align: center;
    }

    .img-overlay:before {
    	content: ' ';
    	display: block;
    	height: 70%;
    }

    .btn-responsive {
      /* matches 'btn-md' */
      padding: 10px 16px;
      font-size: 18px;
      line-height: 1.3333333;
      border-radius: 6px;
    }

    @media (max-width:360px) { 
      /* matches 'btn-xs' */
      .btn-responsive {
        padding: 1px 5px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
      }
    }

    .con1 .icon1{
      margin-left: auto;
      margin-right: auto;
      width: 139px;
      height: 139px;
    }

    .con1 h2{
      text-align: center;
      font-family: Quicksand;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      color: #FF9F1C;
    }

    .con1 p{
      margin-left: auto;
      margin-right: auto;
      text-align: justify;
      font-family: Raleway;
      line-height: normal;
      font-weight: 400;
      font-size: 14px;
      color: #000000;
    }

    .con2 {
      background-color: #FFBF69;
    }

    .con2 h2{
      text-align: center;
      font-family: Quicksand;
      font-size: 44px;
      font-weight: bold;
      color: #000000;
    }

    .con2 h4{
      text-align: center;
      font-family: Raleway;
      font-size: 20px;
      font-weight: 500;
      color: #000000;
    }

    .container_p{
      margin-left: auto;
      margin-right: auto;
      margin-bottom: auto;
      margin-top: auto;
      width: 10px;
      height: 10px;
      left: calc(50% - 316px/2 - 393px);
      top: 100px;
      background: #FFFFFF;
    }
		
  	.container_p img{
  		width: 20px;
  		height: 10px;
  		left: calc(50% - 316px/2 - 393px);
  		top: 1172px;
  	}
  	
  	.container_r{
  		left: 132px;
  		top: 1172px;
  	}

  	.container_p p{
  		font-family: Raleway;
  		font-style: normal;
  		font-weight: normal;
  		line-height: normal;
  		font-size: 12px;
  		text-align: center;
  		color: #000000;
  	}

  	h1 {
  		font-family: Raleway;
  		font-style: normal;
  		font-weight: bold;
  		line-height: normal;
  		color:#2EC4B6;
  		font-size: 24px;
  		text-align: center;
  	}
  	
  	.donate{
  		margin: auto;
  		width: 123px;
  		height: 46px;
  		left: calc(50% - 123px/2 - 392.5px);
  		top: 1457px;
  		border-radius: 15px;
  		color:#FFFFFF;
  		text-align:center;
  		background: #FF9F1C;
  	}

  	.row:after {
  		content: "";
  		display: table;
  		clear: both;
  	}

  	.card {
  		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  		transition: 0.3s;
  		margin:6%;
  	}

  	.card:hover {
  		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
  	}

  	.card-body {
  		padding:8px;
  	}

  	div.ourtext h4 {
  		font-family: 'Raleway';
  		font-weight: 700;
  		font-color: #FF9F1C;
  	}

  	@media screen and (min-width: 601px) {
  		div.ourtext h4 {
  			font-size: 28px;
  		}
  	}

  	@media screen and (max-width: 600px) {
  		div.ourtext h4 {
  			font-size: 10px;
  		}
  	}

  	img {
  		max-width: 100%;
  		height: auto;
  		display: block;
  		margin-left: auto;
  		margin-right: auto;
  		width: 460; 
  		height: 345;
  	}

  </style>

    <title>SinarPerak</title>
  </head>
  <body>
  	<div class="img-wrapper">
  		<img class="img-responsive" src="/static/show_news/images/children.png" alt="Senyum Mereka">
  		<div class="img-overlay">
        <form action="/donate/">
  			 <button class="btn btn-md btn-success">DONATE NOW</button>
        </form>
  		</div>
  	</div>
  
    <br>
      
    <div class = "con1">
      <div class="container">
        {% if user.is_authenticated %}
             <p class="display-4">Hello, {{ user.username }}</p>
        {% endif %}
      </div>
      <div class="container">
        <br>
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <img src="https://s3-alpha.figma.com/img/376d/c955/e9e633d64d27e789b9ddf213e2c4054c" class="icon1">
            <h2>LOVE</h2>
            <p>Cinta adalah kebijaksanaan dari setiap kebaikan,
satu-satunya kehangatan, satu-satu kedamaian. Cintailah sesama dan tebarkan kebaikan dan kehangatan bagi mereka yang membutuhkan</p>
          </div>
          <div class="col-md-4 col-sm-6">
            <img src="https://s3-alpha.figma.com/img/cb7c/fc62/13065c77f4319be9355101b7cac72758" class="icon1">
            <h2>SHARE</h2>
            <p>Untuk bisa berbagi tak perlu menunggu sampai anda berkecukupan, berbagilah mulai sekarang walaupun hanya sebuah senyuman.
Karena esensi dari berbagi adalah ketika orang lain merasa bahagia dengan apa yang kita berikan</p>
          </div>
          <div class="col-md-4 col-sm-6">
            <img src="https://s3-alpha.figma.com/img/ee23/0c21/197bd4834ba8934dcdd99faa0e2e42a7" class="icon1">
            <h2>CARE</h2>
            <p>Kepedulian anda adalah harapan mereka untuk terus berjuang keluar dari kesulitan mereka. Tunjukan kepedulian mulai dari sekarang, memberi semangat untuk mereka bergerak maju dan meninggalkan kesulitan</p>
          </div>
        </div>
      </div>
    </div>

    <br>
    <br>

    <div class = "con2">
      <div class="container">
        <br>
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <h2>{{ program_funded }}</h2>
            <h4>Program Funded</h4>
          </div>
          <div class="col-md-4 col-sm-6">
            <h2>{{ money_donated }}</h2>
            <h4>Money Donated</h4>
          </div>
          <div class="col-md-4 col-sm-6">
            <h2>{{ donator }}</h2>
            <h4>Donator</h4>
          </div>
        </div>
        <br>
      </div>
    </div>
      <div style="background-color: #CBF3F0; margin-top: 0%">
      <h1 class="ourtext h1" style="text-align:center; margin-top: 0%"><br>Donation Programs</h1>
      <br><br>
      <div class="container">
      <div class="row">
        {% for data in programs_datas %}
        <div class="col-md-4 col-sm-6">
          <div class="card" style="width: 26rem;">
            <img class="card-img-top img-responsive" src="{{ data.pictureLink }}">
            <div class="card-body" style="background-color: #FFFFFF">
              <h4 class="ourtext h4">{{ data.title }}</h4>
              <p class="card-text">{{ data.date }}</p>
              <p class="card-text">{{ data.spoiler }}</p>
              <form action="/donate/">
               <button class="btn btn-md btn-success">DONATE NOW</button>
              </form>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <h1 class="ourtext h1" style="text-align:center">Latest News</h1>
  <br><br>
  <div class="container">
    <div class="row">
      {% for data in news_datas %}
      <div class="col-md-4 col-sm-6">
        <div class="card" style="width: 26rem;">
          <img class="card-img-top img-responsive" src="{{ data.pictureLink }}">
          <div class="card-body">
            <h4 class="ourtext h4">{{ data.title }}</h4>
            <p class="card-text">{{ data.date }}</p>
            <p class="card-text">{{ data.spoiler }}</p>
            <a href="/show_news/{{ data.id }}">Read More</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}
  </body>
</html>