{% extends "base.html" %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>

	<style>
	.container{
		position: relative;
		width: 1033px;
		height: 487px;
		left: 166px;
		top: 171px;
	}
	.container img{
		left: 50%;
		top: 50%;
	}
	.container p{
		width: 50%;
		height: 50%;
		left: 678px;
		top: 274px;

		font-family: Raleway;
		font-style: normal;
		font-weight: normal;
		line-height: normal;
		font-size: 18px;
		text-align: center;

		color: #000000;
	}
	div.ourtext h1{
		font-family: Raleway;
		font-style: normal;
		font-weight: bold;
		line-height: normal;
		text-align: center;
		font-size: 64px;
		color: #FF9F1C;
	}
	div.ourtext h4{
		font-family: Quicksand;
		font-style: normal;
		font-weight: bold;
		line-height: normal;
		text-align: center;
		font-size: 20px;
		text-align: center;
		color: #2EC4B6;
	}
	.container img{
		margin-left: 5%;
		margin-right: 5%;
		width: 48px;
		height: 48px;
	}

	/* Create two equal columns that floats next to each other */
	.column {
	    float: left;
	    width: 50%;
	    padding: 10px;
	    height: 300px; /* Should be removed. Only for demonstration */
	}

	/* Clear floats after the columns */
	.row:after {
	    content: "";
	    display: table;
	    clear: both;
	}


</style>
</head>

{% block content %}
<body>
<div class="container">
	<div class="row">
  		<div class="col-md-6"><br><br><br><br>
    		<img class = "img-responsive" src = "https://s3-alpha.figma.com/img/7bf4/9a1d/f79ff435609ab282c9a2fb03fa218845" width=50%>
 		</div>
  		<div class="col-md-6">
			<br><br><br>
  			<h1 class = "ourtext h1" style="text-align: center"> About Us </h1><br>
  			<p style="text-align: justify;">Sinar perak adalah sebuah yayasan yang ingin menjadi sebuah media bagi masyarakat untuk ikut berpartisipasi memberikan sedekah dan pertolongan kepada saudara kita yang sedang di landa bencana. Donatur dapt memilih sendiri program untuk menyalurkan sedekah dan pertolongan. dengan adanya program dari Sinar perak masyarakat tidak perlu bingung lagi perantara untuk memberikan bantuan kepada saudara kita yang membutuhkan </p><br><br>
  			<h4 class = "ourtext h4">Contact Us Trough</h4><br>
  			<div class = "img-responsive">
  			<img style="width:30px;height:30px;" src = "https://s3-alpha.figma.com/img/252a/2c39/24b6f3fc2d549e56908bbbd834d81cf3">
  			<img style="width:30px;height:30px;" src = "https://s3-alpha.figma.com/img/326d/f248/dbf765be1c472b9a8344fee3648573af">
  			<img style="width:30px;height:30px;" src = "https://s3-alpha.figma.com/img/d7d3/7429/6dfa801e00e49b4bc267c5d3c7998ee0"><br><br><br><br>
  		</div>
  		</div>
	</div>
</div>
<hr class="my-4">
<div class="container" id="testimony_box">
	<h1 class = "ourtext h1" style="text-align: center"> Testimoni dari pengguna </h1>
	<div class="container" id="testimony_list"></div>
	<br><br><br>
	{% if request.user.id %}
	<hr class="my-4">
	<h1 class = "ourtext h1" style="text-align: center"> Masukan Testimoni Anda </h1>
	<form method="POST" id="addTestimony" action="/about/api/v2/add_testimony/">
	  {% csrf_token %}
		<div class="form-group">
			<textarea class="form-control" id="testimonyText" name="testimonyText" rows="4"></textarea>
		</div>
	  <button type="submit" class="btn btn-primary">Kirim</button>
	</form>
	{% endif %}
</div>
</body>
{% endblock %}

</html>